tests/impl/phase/phase-01.sch

<schema xmlns="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2">
  <pattern>
    <rule context="/">
      <assert test="false()" id="A01"/>
    </rule>
  </pattern>
  <pattern>
    <rule context="/">
      <assert test="false()" id="A02"/>
    </rule>
  </pattern>
  <properties/>
</schema>
