tests/impl/pattern/expand-abstract-03.sch

<schema xmlns="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2">
  <ns prefix="html" uri="http://www.w3.org/1999/xhtml"/>
  <include href="expand-abstract-03-incl.sch"/>
  <pattern is-a="foobar">
    <param name="fooValue" value="bar"/>
    <param name="barValue" value="foo"/>
  </pattern>
  <properties/>
</schema>
